
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --hoverColor: rgba(215, 142, 82, 1);
}

*,
*::before,
 *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Playfair Display;
    min-height: 100vh;
}


a{
    text-decoration: none;
}

.big-wrapper {
  padding: 1.7rem 0 2rem; 
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color:rgba(253, 247, 242, 1);
  display: flex;
  flex-direction: column;
}

.container{
    position: relative;
    max-width: 81rem; 
    margin: 0 auto;
    width: 100%;
    padding: 0 3rem;
    z-index: 10;
 }

 header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: center;
     margin-bottom: 130px;
   }

.logo{
cursor: pointer;
}


.links ul{
   display: flex; 
   list-style: none;
   align-items: center;
}

.links a{
  margin-left: 4.5rem;
  display: inline-block;
}

.links a:hover{
    color: var(--hoverColor);
}


.hero .container{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-content: center;
}

.hero-title{
    color:rgba(0, 0, 0, 0.85);
    font-style: normal;
    font-size: 30px;
    line-height: 1;
}

.text{
    font-size: 1.2rem;
    margin: 1.5rem 0 2.5rem;
}


.btn1{
    padding: 25px 30px;
    color:white;
    border-radius: 15px;
    background-color: rgba(248, 122, 101, 1);
    margin-right: 15px;
    font-size: 20px;
}

.btn2{
    padding: 25px 30px;
    display: inline-block;
    color: black;
    border-radius:15px;
    background-color:rgba(248, 122, 101, 0.25);
    font-size: 20px;
}


.left{
    max-height: fit-content;
    margin-right: 2rem;
}


.right{
    max-height: fit-content;
    margin-left: 2rem;
}

.services{
    color:rgba(0, 0, 0, 0.85);
    font-size:1.9rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.h{
    width:45rem;
}

.offer{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 10rem;
}

.btn3{
    padding: 25px 30px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.pricing{
    text-align: right;
    color:rgba(0, 0, 0, 0.85);
    font-size:1.9rem;
    margin-top: 10rem;
    margin-bottom: 7rem;
}

.h1{
    width:45rem;
    text-align: right;
}

.price{
    margin-top:10rem;
    display: flex;
    justify-content: space-between;
}

.price-btn{
    display: flex;
    justify-content: center;
}

.btn4{
    margin-top: 5rem;
    padding: 25px 30px;
    color:white;
    border-radius: 15px;
    background-color: rgba(248, 122, 101, 1);
    margin-right: 15px;
    margin-bottom: 7rem;
}

.map{
    margin-top: 7rem;
    background-color: #FFEEDF;
    height:500px;
}

.map-image{
    max-width: 80%;
}

.hero1 .container{
/* background-color: #FFEEDF; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
 }


 footer .container{
    background-color:rgba(253, 247, 242, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .footer{
    background-color:rgba(253, 247, 242, 1);
    margin-top: auto;
    position: sticky;
    top: 100%;
  }