*{
    background:rgba(253, 247, 242, 1);
    padding:0;
    margin:0;
}

.header{
    position: absolute;
    margin:0;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:0;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}
